/* @charset "utf-8"; */
.imgchart {
    height: 712px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.imgchart1 {
    width: 600px;
    height: 224px;
    background-image: url(../img/situationbg.png);
}

.botchart {
    position: relative;
    height: 245px;
    margin-top: -15px;
    background-image: url(../img/resoucebg.png);
}

.botchart table {
    width: 560px;
    margin-left: 20px;
}

.botchart table td {
    line-height: 30px;
    height: 30px;
}

.botchart thead {
    background: rgba(0, 0, 0, 0.30);
    border-radius: 1px 0 0 0;
}


/* 进度条 */

.progressTable td {
    border: none;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #59B2F7;
    letter-spacing: 0;
    text-align: left;
    height: 34px;
    padding-right: 20px;
}

.progressTable tbody td {
    border: none;
}

.progressTable thead td:nth-child(3) {
    text-align: right;
    padding-right: 40px;
}

.progressTable tbody td:nth-child(3) {
    text-align: right;
    padding-right: 40px;
}

.progress {
    background-color: transparent;
    border-radius: 11px;
    position: relative;
    height: 15px;
    width: 200px;
    position: relative;
    border: 1px solid rgba(88, 177, 246, 0.5);
}

.progress-done {
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 5px;
    height: 12px;
    width: 0;
    transition: width 1s ease 0.3s;
    background-color: rgba(88, 177, 246, 1);
}

.percent {
    position: absolute;
    font-size: 18px;
    top: -2px;
    right: -68px;
}

.more {
    position: absolute;
    top: 20px;
    right: 20px;
}

.right {
    margin-top: 8px;
    background: #0C2254;
    border: 1px solid #0058B8;
    border-radius: 1.15px 0 0 0;
}

.right table {
    width: 1190px;
    margin-left: 20px;
}

.te {
    margin-top: 20px;
}

.te span {
    font-family: PingFang-SC-Medium;
    font-size: 36px;
    color: #F8E71C;
    letter-spacing: 0;
    height: 36px;
    margin-left: 20px;
}

.te p {
    display: inline;
    font-family: PingFang-SC-Medium;
    font-size: 24px;
    color: #569ceb;
    letter-spacing: 0;
    line-height: 20px;
}

.right .tab2 {
    margin-top: 32px;
}

.right .tab2 tr {
    border: 1px solid #0058B8;
    border-radius: 1.15px 0 0 0;
}

.right .tab2 td {
    line-height: 40px;
    padding: 0;
    margin: 0;
    padding-right: 25px;
}

.right .tab2 td:first-child {
    padding-left: 15px;
}

.right .tab2 td:nth-child(5) {
    text-align: center;
}

.right .tab2 td:last-child {
    padding-right: 15px;
    padding-left: 50px;
}

.right .tab2 thead {
    background: rgba(0, 0, 0, 0.30);
    border: 1px solid #0058B8;
    border-radius: 1.15px 0 0 0;
}

.numbor {
    float: left;
    background-image: linear-gradient(180deg, #006EE5 0%, rgba(0, 115, 201, 0.00) 53%, #006EE5 100%);
    border: 1px solid #0055B3;
    margin-right: 5px;
}

.numborder {
    width: 34px;
    margin-right: 5px;
    margin-top: 10px;
    line-height: 50px;
    font-family: "Digiface";
    font-size: 38px;
    color: #FFFFFF;
    text-align: center;
}

.numborpunc {
    float: left;
    width: 15px;
}

.pre {
    margin-left: 515px;
}